*{
    font-family: 'Open Sans', sans-serif;
    color:#888888;
}
h3.header{
    text-align: center;
    margin-top: 25px;
    text-transform: uppercase;
}
hr {
    width: 40%;
}
a.link{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    color: rgb(241, 170, 36);
    display: block;
    text-align: center;
    font-size: 20px;
}
a.link:hover{
    color:#888888;
}
